<template>
  <section id="campaign">
    <h2>Kampagnen</h2>
    <p>
      Im Rahmen des Crowdfundings für die Neuentwicklung von Denkmal.org sind die folgenden Beiträge entstanden. Die Sujets gibts als Plakat oder Postkarte. Daneben sind noch einige handgemachte Shirts übrig. Melde Dich bei Bedarf!
      <a
        href="mailto:basel@denkmal.org?subject=Bestellung%20Denkmalmit&body=Artikel%3A%0D%0AName%3A%0D%0AVorname%3A%0D%0AAdresse%3A"
      >basel@denkmal.org</a>.
    </p>
    <no-ssr>
      <carousel :perPage="1">
        <slide v-for="n in 7" :key="n">
          <div class="poster">
            <img :src="`/images/campaign/denkmal${n}.jpg`" alt="Kampagne">
            <div class="poster-share">
              <div class="label">Teilen</div>
              <social-sharing
                :url="`https://denkmalmit.org/images/campaign/denkmal${n}.jpg`"
                title="Denkmal.org"
                description="Denkmal.org - Der Musik- und Partykalender für Basel"
                quote="Musik- und Partykalender für Basel"
                hashtags="denkmalmit, denkmal, basel"
                twitter-user="denkmal_basel"
                inline-template
              >
                <div class="icons">
                  <network network="facebook">
                    <i class="fab fa-facebook"></i>
                  </network>
                  <network network="twitter">
                    <i class="fab fa-twitter"></i>
                  </network>
                </div>
              </social-sharing>
            </div>
          </div>
        </slide>
      </carousel>
    </no-ssr>
  </section>
</template>

<script>
import { Carousel, Slide } from 'vue-carousel'

export default {
  components: {
    Carousel,
    Slide
  }
}
</script>

<style lang="scss">
@import '~/assets/variables.css';

#campaign {
  margin-bottom: 80px;

  h3 {
    margin-bottom: 1em;
  }

  .poster {
    background-color: #ebebeb;
    display: flex;
    height: 70vh;
    justify-content: center;
    position: relative;

    img {
      object-fit: contain;
    }

    .poster-share {
      align-items: center;
      background-color: var(--color-black);
      color: white;
      display: flex;
      padding: 5px 16px;
      position: absolute;
      right: 0;
      top: 0;

      .label {
        font-weight: bold;
        margin-right: 5px;
        text-transform: uppercase;

        &::after {
          content: ':';
        }
      }

      .icons {
        display: flex;
        font-size: 1.2em;

        span {
          cursor: pointer;
          padding: 7px;
        }
      }
    }
  }
}
</style>
