<template>
  <div class="contact-address" itemscope itemtype="http://schema.org/LocalBusiness">
    <div itemprop="name">Verein Denkmalmit</div>
    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <span itemprop="streetAddress">Erlenstrasse 41</span>
      <div>
        <span itemprop="postalCode">4058</span>&nbsp;
        <span itemprop="addressLocality">Basel</span>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.contact {
  a {
    font-weight: 600;
  }
}
</style>
