<template>
  <section class="denkmalorg">
    <h2>Denkmal.org</h2>
    <p>Denkmal.org heisst die Adresse für Nachtschwärmer. Auf der Webseite entstand im Jahr 2004 ein Veranstaltungskalender, der Musikveranstaltungen im Raum Basel für die nächsten sieben Tage aufbereitet und übersichtlich darstellt. Inhaltlich bildet Denkmal.org ein breites Musikspektrum verschiedenster Genres ab. Dabei wird grossen Wert auf Unabhängigkeit gelegt: Es wird keine Werbung geschaltet und es werden nur bedingungslose Beiträge von Veranstaltern entgegengenommen. Kleine und grosse Clubs erhalten dieselbe Aufmerksamkeit. So widerspiegelt das Projekt die kulturelle Vielfalt und erfreut sich in unterschiedlichsten Kreisen einer stets wachsenden Beliebtheit.</p>
    <p>In Zürich gibt es Denkmal.org seit 2019. Hier werden konsequent die besten Veranstaltungen der Stadt zusammengetragen. Das Stadtmagazin  <a
      href="https://tsri.ch"
      target="_blank"
      rel="noopener"
    >Tsüri.ch</a> betreibt die Redaktion von Denkmal.org in Zürich.</p>
    <p>
      <em>Durch die Nacht mit Denkmal.org™</em>
    </p>
    <a
      class="button button--primary"
      href="https://denkmal.org"
      target="_blank"
      rel="noopener"
    >Denkmal.org besuchen</a>
  </section>
</template>
