<template>
  <div class="inspiration">
    <h4>
      Wieviel ist angemessen?
      <strong>*</strong>
    </h4>
    <ul>
      <li>
        <span class="amount">5.-</span>
        <div>
          <span
            class="label"
          >Aufgewacht mit Filmriss, leerem Portmonnaie und Kater meines Lebens. Mehr geht nicht, sorry Jungs.</span>&nbsp;
          <strong class="reward">High Five</strong>
        </div>
      </li>
      <li>
        <span class="amount">15.-</span>
        <div>
          <span class="label">Denkmal.org ist mir 3 Stangen wert. (Oder ca. 24 Anker).</span>&nbsp;
          <strong class="reward">Wir stossen auf dich an</strong>
        </div>
      </li>
      <li>
        <span class="amount">25.-</span>
        <div>
          <span class="label">Soviel wie ein Konzerteintritt.</span>&nbsp;
          <strong class="reward">Passivmitgliedschaft für ein Jahr</strong>
        </div>
      </li>
      <li>
        <span class="amount">50.-</span>
        <div>
          <span class="label">Ich trinke nächsten Samstag nur Wasser. Hier, nehmt meine Kohle.</span>&nbsp;
          <strong class="reward">Dein Körper wirds dir danken</strong>
        </div>
      </li>
      <li>
        <span class="amount">100.-</span>
        <div>
          <span class="label">Party Animal und Gönner by Heart.</span>&nbsp;
          <strong class="reward">♥ + 1x Denkmal.org Poster</strong>
        </div>
      </li>
      <li>
        <span class="amount">250.-</span>
        <div>
          <span class="label">I'm up all night to get lucky.</span>&nbsp;
          <strong class="reward">1x Denkmal.org T-Shirt aka Wingman-Service</strong>
        </div>
      </li>
      <li>
        <span class="amount">500.-</span>
        <div>
          <span class="label">Ich hab mein eigenes Bermudadreieck.</span>&nbsp;
          <strong class="reward">1x Bermudadreieck mit dem Denkmal-Team</strong>
        </div>
      </li>
      <li>
        <span class="amount">1'000.-</span>
        <div>
          <span class="label">I'm rich, bitch.</span>&nbsp;
          <strong class="reward">1x Tour-de-Kleinbasel mit dem Denkmal-Team</strong>
        </div>
      </li>
      <li>
        <span class="amount">20'000.-</span>
        <div>
          <span
            class="label"
          >Ich hab durch Denkmal.org die Liebe meines Lebens gefunden. Eigentlich unbezahlbar.</span>&nbsp;
          <strong class="reward">1x Party von epischen Ausmassen</strong>
        </div>
      </li>
    </ul>
    <div class="asteriks">
      *Betrag in CHF. In Klammern die jeweilige Gegenleistung. Diese muss ggf. persönlich eingelöst/abgeholt werden. Es liegt in der Verantwortung der Unterstützer die angebotene Leistung einzufordern. Alle Angaben ohne Gewähr.
      <a
        href="mailto:basel@denkmal.org"
      >basel@denkmal.org</a>
    </div>
  </div>
</template>

<style lang="scss">
.inspiration {
  border: 1px dashed;
  margin-top: 2em;
  padding: 15px;

  h5 {
    margin-top: 0.2em;
  }

  ul {
    font-size: 0.8em;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      list-style-type: none;
      margin-bottom: 0.3em;
    }
  }

  .amount {
    display: inline-block;
    flex-shrink: 0;
    font-weight: bold;
    margin-right: 12px;
    text-align: right;
    width: 45px;
  }

  .reward {
    &::after {
      content: ')';
    }

    &::before {
      content: '(';
    }
  }

  .asteriks {
    font-size: 0.7em;
    margin-top: 1em;
    padding-left: 57px;
    width: 90%;
  }
}
</style>
