<template>
  <section class="team">
    <h2>Kernteam</h2>
    <ul>
      <li>
        <a
          class="link-underline"
          href="https://twitter.com/nicolasschmutz"
          target="_blank"
          rel="noopener"
        >Nicolas Schmutz</a>
      </li>
      <li>Andreas Siegrist</li>
      <li>Reto Kaiser</li>
      <li>
        <a
          class="link-underline"
          href="https://twitter.com/stophecom"
          target="_blank"
          rel="noopener"
        >Christophe Schwyzer</a>
      </li>
      <li>Frederick Dürr</li>
    </ul>
  </section>
</template>

<style lang="scss">
.team ul {
  padding-left: 1.4em;

  @media screen and (min-width: 500px) {
    padding-left: 0;
  }

  > li {
    font-style: italic;
    white-space: nowrap;

    @media screen and (min-width: 500px) {
      display: inline-block;

      &:not(:last-child)::after {
        content: ' • ';
        white-space: pre;
      }
    }
  }
}
</style>
