<template>
  <div>
    <app-header/>
    <main id="main" :style="{marginBottom: footerHeight + 'px'}">
      <div class="boundaries">
        <nuxt/>
      </div>
    </main>
    <app-footer/>
  </div>
</template>

<script>
import AppHeader from '~/components/Header.vue'
import AppFooter from '~/components/Footer.vue'
import _ from 'underscore'

export default {
  components: {
    AppHeader,
    AppFooter
  },
  data() {
    return {
      footerHeight: ''
    }
  },
  methods: {
    handleResize: function() {
      var self = this
      _.throttle(function() {
        self.footerHeight = document.querySelector('#footer').offsetHeight
      }, 100)()
    }
  },
  mounted() {
    let isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(
      navigator.userAgent
    )
    document.documentElement.classList.toggle('is-mobile', isMobile)
    this.handleResize()
    window.addEventListener('resize', this.handleResize)
  },
  beforeDestroy: function() {
    window.removeEventListener('resize', this.handleResize)
  }
}
</script>

<style lang="scss">
@import '~/assets/variables.css';

html {
  color: var(--color-primary);
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 1.7;
}

body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: currentColor;
  position: relative;
  text-decoration: none;
}

strong {
  font-weight: 600;
}

img {
  display: block;
  max-width: 100%;
}

section {
  position: relative;
}

p {
  hyphens: auto;
  text-align: justify;

  a {
    &[target='_blank']:not(.button):not(.icon)::before {
      width: calc(100% - 22px);
    }

    &[target='_blank']:not(.button)::after {
      background-image: url('/images/external.svg');
      background-repeat: no-repeat;
      background-size: contain;
      bottom: -3px;
      content: '';
      display: inline-flex;
      height: 16px;
      margin-left: 6px;
      position: relative;
      width: 16px;
    }
  }
}

.link-underline,
p a:not(.button):not(.icon) {
  position: relative;
  white-space: nowrap;
  z-index: 1;

  &::before {
    background-color: hsla(168, 26%, 60%, 0.612);
    bottom: 2px;
    content: '';
    height: 6px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
}

h1 {
  font-size: 2.5em;
  line-height: 1.3;
  margin-bottom: 0.8em;
  width: 75%;

  @media screen and (min-width: 600px) {
    font-size: 2.8em;
  }

  + .intro {
    font-size: 1.1em;
    font-weight: 600;
  }
}

h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
  margin-top: 2.4em;
  position: relative;
  z-index: 1;

  @media screen and (min-width: 600px) {
    font-size: 2.4em;
  }

  &::before {
    background-color: var(--color-green);
    bottom: 0.24em;
    content: '';
    height: 0.32em;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
}

html:not(.is-mobile) .v-scroll-reveal {
  h2::before {
    transform: scaleX(0);
    transform-origin: left;
    transition: 300ms 300ms ease-out;
  }

  &.active h2 {
    &::before {
      transform: scaleX(1);
    }
  }
}

h3 {
  margin-bottom: 0.3em;
  margin-top: 3em;
}

h3 + p {
  margin-top: 0;
}

h4 {
  margin-bottom: 0.1em;
  margin-top: 2em;
}

.semibold {
  font-weight: 600;
}

#main {
  background-color: white;
  overflow: hidden;
  padding-bottom: 10vmin;
  padding-top: 5vmin;
  position: relative;
  z-index: 1;
}

#footer {
  bottom: 0;
  left: 0;
  padding-bottom: 15px;
  padding-top: 15px;
  position: fixed;
  width: 100%;
  z-index: 0;
}

.boundaries {
  margin: 0 auto;
  max-width: var(--page-width);
  padding-left: 5vmin;
  padding-right: 5vmin;
  width: 100%;
}

.error {
  color: red;
  text-align: center;
}

.button {
  align-items: center;
  background-color: transparent;
  border: 2px solid transparent;
  color: inherit;
  display: inline-flex;
  font-weight: 600;
  height: 40px;
  justify-content: center;
  padding: 4px 12px;
  position: relative;
  text-decoration: none;
  transition: 200ms;
  white-space: nowrap;

  &:hover {
    transform: translateY(-1px);
  }

  &.button--primary {
    background-color: var(--color-black);
    border: 2px solid var(--color-black);
    color: white;

    &:hover {
      box-shadow: 0 1px 1px lighten(#a1a1a1, 10);
    }
  }

  &.button--outline {
    border: 2px solid white;
    color: white;
  }
}
</style>
