<template>
  <div>
    <h1>Spenden</h1>
    <p
      class="intro"
    >Mit Deinem Beitrag hilfst du mit, dass Denkmal.org weiterhin aktuell, kostenlos, unabhängig und werbefrei bleibt.</p>
    <donate/>
    <donation-inspiration/>
  </div>
</template>

<script>
import Donate from '~/components/Donate'
import DonationInspiration from '~/components/DonationInspiration'

export default {
  components: {
    Donate,
    DonationInspiration
  }
}
</script>
